@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Italianno&family=Poppins:wght@700&family=Rampart+One&display=swap');
html{
    background-color: black;
    color: white;
}
body{
    background-color: black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italianno', cursive; 
    text-shadow: 0 0 2rem rgba(208, 218, 219, 0.5);
    color: rgb(63, 185, 185);
    font-weight: bolder;

}
.box{
    margin-top: 3rem;
  }
 
  .first,.second{
    width: 60%;
    max-width: 600px;
    background-color: rgb(63, 185, 185);
    border-radius: 12px;
    font-weight: bolder;
    text-shadow: 0 0 2rem rgba(208, 218, 219, 0.5);
  }
  .second{
    background-color: rgb(63, 185, 185);
    margin-top: 3rem;
    padding: 2rem;
    width: 70%;
    height: 500px;
    max-width: 600px;

    /* text-shadow: 0 0 2rem rgba(208, 218, 219, 0.5); */
    /* text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1); */
     
     text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05); 

    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;

  }
  .last{
   text-align: right;
   margin-right: 1rem;
  }
  .main{
      font-size: 3.5rem;
  }
  .btn{
      border: none;
      font-weight: bold;
      color: white;
      border-radius: 12px;
      /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
      border: none;
  }
  .btn:hover{
      border: 1px solid white;
      color: black;
  }
  #input{
      color: black;
      text-shadow:0 0 2rem rgba(208, 218, 219, 0.5);
      font-weight: bolder;
      padding: 5px;
      border-radius: 12px;
      margin-right: 12px;
      width: 300px;
      height: 45px;
      /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border: none;
  }
  #input:focus{
      outline: none;
  }
  .btn{
      padding: 10px;
      margin: 10px;
      width: 70px;
  }
  .first{
      color: black;
      text-align: center;
      padding-top: 30px;
      font-size: 22px;
      text-shadow:0 0 2rem rgba(208, 218, 219, 0.5);
     
  }
  .second{
      color: white;
      text-align: center;
  }
  @media (max-width:600px){
      .main{
          font-size: 2rem;
      }
      .main2{
          font-size: 1.5rem;

      }
      .first{
      height: auto;
      width: 80%;
      }
      .last{
          margin-top: 1rem;
      }
      #input{
        width: 174px;
      }
      .second{
          width: 80%;
      }
     
  }